# -- DEFAULT DOCUMENT
DirectoryIndex index.html index.php

# -- DEFINING ERROR PAGES
ErrorDocument 403 error/403.html
ErrorDocument 404 error/404.html
ErrorDocument 500 error/500/index.html

# -- INIT
RewriteEngine on

# -- REDIRECT ANY INDEX PAGE TO ROOT
RewriteCond %{Request_URI} /index\.
RewriteRule .* / [R=301]

# -- REDIRECT REQUEST FOLDER TO /INDEX
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule .* /index.php [L]

# -- BLOCKING USERS FROM ACCESSING PRIVATE DOCUMENT
<Directory ~ "\assets">
    Order allow,deny
    Deny from all
</Directory>
<Directory ~ "\components">
    Order allow,deny
    Deny from all
</Directory>
<Directory ~ "\codesamples">
    Order allow,deny
    Deny from all
</Directory>